@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
<p  class="col-md-12 descriptabout">
    Sistema Gestión De Pedidos es una aplicación para el sector agrícola realizada por aprendices del SENA.
</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Que encontrarás?</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
</div>
