@{
    ViewBag.Title = "Más información...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

</address>

<address>
    Para mayor información puede contactarse con nosotros a los siguientes correos:
    440@misena.edu.co ó lpena969@misena.edu.co
    <a href="https://www.gmail.com">www.gmail.com</a><br />
</address>